<%= form_for @pool, :html => { :role => 'form' } do |f| %>

  <div class="form-group">
    <%= f.label :name, :for => :name %>
    <%= f.text_field :name, :class => 'form-control', :placeholder => :name %>
  </div>
  <%= f.submit nil, :class => 'btn btn-default' %>

<% end %>
