<div class="row hidden-xs">
  <div class="col-md-12"><p></p></div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading" style="margin-bottom: 10px;">
        <h3>Create a new pool</h3>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
      <div class="panel-footer" style="margin-top: 10px;">
        <div class="row">
          <div class="col-md-12">
            <%= link_to 'Back', pools_path %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>





