<p>
  <%= form_tag("search", method: "get", :class => 'form-signin') do %>
      <h2>Enter pool name</h2>
      <%= text_field_tag(:pool,'', :class => 'form-control', :placeholder => 'Pool Name', :required=>'true', :autofocus=>'true') %>
      <%= submit_tag("Search",:class => 'btn btn-primary btn-large btn-block') %>
  <% end %>
</p>
